html {
    font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high */
    font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google Fonts */
    background-color: white;
    scroll-behavior: smooth;
    hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
  }

a {
  color: black;
}

nav {
  max-width: 1200px;
  margin: 0 auto;
  background-color: white;
  top: 0;
  padding: .5em;
  position: sticky;
  padding: 10px 20px 10px 35px;
  z-index: 30;
}

.current-page {
  text-decoration: underline 1.5px;
  text-underline-offset: 7px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

nav a {
  color: black;
  text-decoration: none;
}

header {
  height: 570px;
  width: 100%;
  margin: 0px;
  padding: 0px;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

header.home {
  background-image: url(../images/headers/bogen.jpg);
  height: 600px;
  background-position: top;
  background-repeat: no-repeat;
}

header.about {
  background: url(../images/headers/big_talk.jpg);
  padding-top: 30px;
  background-position: top 30px left 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header.exp {
  background: url(../images/headers/swing.jpg);
  background-position: left 50% top 45px;
  background-size: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header.projects {
  background: url(../images/headers/trees.jpg);
  background-position: left 50% top 45px;
  background-size: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  font-size: 30px;
  text-align: center;
  color: black;
  font-weight: 100;
}

h2.about {
  margin-top: -10px;
  color: #ff7b34;
}

h2 {
  font-weight: 300;
  font-size: 25px;
  text-align: center;
  color: black;
}

h3 {
  font-weight: 300;
  font-size: 20px;
  text-align: center;
}

p,
li {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 1px;
}

br {
  margin-bottom: 10px;
}

body {
  width: 100%;
  margin: 0 auto;
  background-color: white;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  background-color: white;
  max-width: 1200px;
}

main {
  padding: 0 20px 20px 20px;
}

hr {
  margin-bottom: 50px;
  height: 2px;
  color: #c0c0c0;
  background: #c0c0c0;
  border: 0;
}

article {
  margin: 50px 0px;
  padding: 30px;
  border-radius: 5px;
  position: relative;
  text-align: justify;
  word-spacing:-2px;
}

article.index {
  background-color: #b0d8b24d;
}

article.about {
  background-color: #fbe4d8;
}

article.exp {
  background-color: #ddddf6;
}

.exp + h2 {
  color: #3e4570;
}

.interests-container {
  display: flex;
  margin: 30px 120px 70px;
  justify-content: space-evenly;
}

.interests-container ul {
  font-size: 18px;
}

img {
  display: block; 
  margin: 0 20px 20px 0;
  max-width: 300px;
  float: left; 
}

img.profile {
  margin-left: 5px;
  padding-right: 5px;
  max-height: 350px;
  border-radius: 5px;
  overflow: hidden;
}

.about p {
  font-size: 15px;
}

.exp p {
  font-size: 15px;
}

#about-card {
  padding-left: 0px;
  margin-left: 0px;
}

#about-img {
  padding-right: 0px;
  margin-left: 1%;
}

section {
  display: flex;
}


/* Timeline CSS */

.container {
  max-width: 1024px;
  width: 80%;
  margin: 0 15%;
  margin-top: 70px;
}

.timeline-item h1 {
  font-size: 25px;
  line-height: 1.4;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  color: #464e80;
}

.timeline-item {
  padding: 1em 2em 4em 2em;
  position: relative;
  color: #3e4570;
  border-left: 3px solid #3e4570;
}
.timeline-item p {
  font-size: 16px;
  color: black;
  line-height: 1.5;
}

.timeline-item::before {
  white-space: pre-wrap;
  content: attr(date-is);
  position: absolute;
  left: -8em;
  font-weight: bold;
  top: 40px;
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
}

.timeline-item::after {
  width: 10px;
  height: 10px;
  display: block;
  top: 1em;
  position: absolute;
  left: -8px;
  top: 40px;
  border-radius: 10px;
  content: "";
  border: 2px solid #3e4570;
  background: white;
}

.timeline-item:last-child {
  -o-border-image: linear-gradient(to bottom, #3e4570 60%, rgba(0, 0, 0, 0)) 1 100%;
     border-image: linear-gradient(to bottom, #3e4570 60%, rgba(0, 0, 0, 0)) 1 100%;
}


/* Cards for index page */
* {
  box-sizing: border-box;
}

.media {
  margin: 0 auto 4em auto;
  max-width: 1000px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "img content";
}

.media .image {
  grid-area: img;
  width: 100%; 
  max-height: 100%;
  position: relative;
  object-fit: cover;
}

.image img {
  border-radius: 5px;
  display: block;
  height: 200px;
  margin: 0;
}

.media .text {
  border: 0rem solid;
  border-radius: 5px;
  grid-area: content;
  padding: 15px 25px 0px 25px;
}

.media h3 {
  font-size: 20px;
  padding: 0;
  margin: 0;
}

.media p {
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 1px;
  text-align: justify;
  word-spacing:-2px;
}

.media.flipped {
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "content img";
}

.media.flipped img {
  float: right;
}


.media button {
  margin: 10px 0px 15px 0px;
  float: right;
  font-size: 16px;
  padding: 9px 17px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
}

#one {
  background-color: #ffd1bf;
}

#one:hover {
  background-color: #f8b9a0;
}

#two {
  background-color: #fbdab5;
}

#two:hover {
  background-color: #ffd19c;
}

#three {
  background-color: #c0d9e7;
}

#three:hover {
  background-color: #acccde;
}


/* Cards for Projects page */

.card-container {
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 30px;
  max-width: 1200px;
  text-align: justify;
}

.cards {
  border: solid 1px rgb(211, 211, 211);
  border-radius: 10px;
}

.cards img {
  overflow: hidden;
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
  max-width: 100%;
  width: auto;
  height: auto;
}

.cards h3 {
  font-size: 25px;
  margin: 1px 0px 10px 0px;
  padding: 0;
}

.cards p {
  margin: 5px 20px 20px 20px;
  line-height: 1.4;
  font-size: 14px;
}

.faded {
  opacity: 0;
  transform: translateY(20vh);
  transition: opacity 0.5s ease-in-out, transform 0.7s ease-in-out;
}
.faded.on-screen {
  opacity: 1;
  transform: none;
}
.box {
  height: 400px;
  width: 200px;
  margin: 10px;
}

/* Footer styling */

footer {
  max-width: 100%;
  background: #edededab;
}

.footer-wrapper {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  padding: 30px 40px 30px 20px;
  justify-content: space-around;
}


footer p br {
  margin: 0; 
  padding: 0;
}

footer img {
  display: flex;
  align-self: center;
  margin: 5px 20px;
  overflow: hidden;
  height: 52px;
}

footer .shy {
  width: 210px;
}




@media only screen and (max-width: 1000px) {
  .media {
    grid-template-columns: 2fr 3fr;
  }

  .media.flipped
  {
    grid-template-columns: 3fr 2fr;
  }

  footer img {
    margin: 6px 15px;
    height: 37px;
  }

  #about-card {
    padding-left: 0px;
  }
}

@media only screen and (min-width: 900px) {
  img.profile {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  section.card {
    padding: 0 5px 0 330px;
  }

  h2.card {
    margin: 0 0 0 310px;
  }

  #about-card {
    padding-left: 0px;
  }

  footer img {
    height: 52px;
  }
}
  
@media only screen and (max-width: 899px) {

  header.home {
    background: url(../images/headers/bogen.jpg) no-repeat 21% 40%;
    height: 600px;
  }

  header.about {
    background: url(../images/headers/big_talk.jpg) no-repeat 21% 40%;
    height: 600px;
  }

  header.exp {
    background: url(../images/headers/swing.jpg) no-repeat 57% 43%;
    height: 570px;
  }

  .current-page {
    text-decoration: underline 1px;
  }

  article {
    margin: 30px 0px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  img.profile {
    max-width: 200px;
  }

  p {
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 1px;
  }
  
  nav {
    padding: 5px 0px 5px 5px;
    background-color: white;
    justify-content: space-evenly;
  }

  #introduction {
    margin-top: 0;
  }

  .timeline-item::before {
    left: 3em;
    font-size: 10px;
    white-space: pre-wrap;
  }

  .timeline-item h1 {
    padding-top: 40px;
    font-size: 20px;
  }

  .timeline-item p {
    font-size: 14px;
    padding-left: 15px;
  }

  .media {
    width: 100%;
    margin: 0 auto 4em auto;
    max-width: 600px;
    gap: 10px;
    grid-auto-flow: dense;
    grid-template-columns: 100%;
    grid-template-areas: 
      "img"
      "content";
  }
  
  .media.flipped {
    grid-template-columns: 100%;
    grid-template-areas: 
      "img"
      "content";
  }

  .media .image {
    grid-area: img;
    width: auto;
    max-height: 100%;
    position: relative;
    object-fit: cover;
    justify-self: center;
  }
  
  .image img {
    border-radius: 5px;
    display: block;
    height: 200px;
    margin: 0;
  }

  hr {
    margin-bottom: 30px;
  }

  #about-card {
    padding-left: 0px;
  }

  img.profile {
    margin: 0px;
  }

  .card-container {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }

  .footer-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .address {
    order: 1;
    padding-bottom: 10px;
  }

  .copyright {
    order: 2;
  }

  footer img {
    margin-top: 1.5px;
    margin-left: 25px;
  }

  .shy {
    width: 50%;
  }

  h2.card {
    margin-bottom: 10px;
  }
  
}